:root {
    --logo_color: #000040;
}

@font-face {
    font-family: "logo";
    src: url("../fonts/HOT-FSoshoStd-B-2.otf");
    src: url("../fonts/HOT-FSoshoStd-B-2.otf") format("opentype");
}



html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

button, fieldset {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

li {
    list-style-type: none;
}

h3 {
    padding-top: 10px; 
}



nav {
    position: fixed;
    top: 110px;
    right: 3vw;
    z-index: 3;
}

nav ul li a {
    color: white;
    background-color: var(--logo_color);
    text-decoration: none;
    font-family: "logo";
    font-size: 25px;
    display: block;
    text-align: center;
    width: 120px;
 }



footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 80px;
    background-color: var(--logo_color);
    color: white;
    display: flex;
    align-items: center;
    font-size: 80%;
    padding-left: 10px;
    z-index: 3;
}



header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 110px;
    background-color: var(--logo_color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    z-index: 3;
}

#logo {
    height: 90px;
}

#sign_box {
    align-self: flex-end;
    justify-self: end;
    color: white;
    margin-bottom: 10px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#greeting {
    
}

#log_out, #log_out:visited, #log_out:link, #log_out:focus {
    margin-left: 10px;
    text-decoration: underline 1px white;
    color: white;
}

#hamburger_box {
    width: 40px;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 45px;
    right: 3vw;
}

#hamburger {
    width: 100%;
    height: 30px;
}



main {
    padding-top: 120px;
    padding-bottom: 90px;
    padding-left: 10px;
    margin-right: calc(10px + 110px + 3vw);
    width: calc(100vw - 10px - (10px + 110px + 3vw));
    height: calc(100vh - 80px);
    overflow: auto;
}

main h2 {
    line-height: 40px;
    padding-top: 20px;
    padding-left: 5px;
    font-size: 25px;
}



@media (orientation: portrait) {

    @keyframes open_menu {
        from {
            height: 0px;
        } 
        to {
            height: 500px;
        }
    }

    @keyframes close_menu {
        from {
            height: 500px;
        }
        to {
            height: 0px;
        }
    }


    #hamburger_box {
        opacity: 1;
    }

    main {
        width: 95vw;
    }

    #logo {
        height: 60px;
    }

    header {
        height: 80px;
        justify-content: space-between;
        padding-right: calc(40px + 3vw);
    }

    main {
        padding-top: 80px;
    }

    nav {
        top: 80px;
        height: 0px;
        overflow: hidden;
    }

    .nav_active {
        animation-name: open_menu;
        animation-delay: 0ms;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
    }

    .nav_inactive {
        height: auto;
        animation-name: close_menu;
        animation-delay: 0ms;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
    }

}



@media (orientation: portrait) and (min-height: 1000px){

    header {
        height: 110px;
    }

    #logo {
        height: 90px;
    }

    main {
        padding-top: 120px;
    }

    nav {
        top: 100px;
    }

    #hamburger_box {
        top: 75px;
    }

}



@media (max-height: 500px) {

    header {
        position: initial;
    }

    nav {
        top: 10vh;
        height: 80vh;
        overflow: visible;
        background-color: var(--logo_color);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer {
        position: initial;
    }

    main {
        padding-top: 0px;
        padding-bottom: 50px;
        padding-left: 10px;
        margin-right: calc(90px + 3vw);
        width: calc(100vw - 10px - (10px + 100px + 3vw));
        height: auto;
        overflow: visible;
    }

    nav ul li a {
        font-size: 20px;
        width: 100px;
    }

}



