main section {
    width: 100%;
    display: inline-flex;
    align-content: center;
    background-image: linear-gradient(45deg, var(--logo_color), white 15%, white 85%, var(--logo_color));
    margin-top: 3vw; 
}

main section:first-of-type {
    margin-top: 0vw;
}

main section h3 {
    writing-mode: vertical-lr;
    font-family: "logo";
    font-size: 40px;
    margin-top: 3vw; 
    padding-left: 2vw;
    width: 60px;
}

main section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 3vw 3vw 3vw 0vw;
}

main section ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 28vw;
    min-width: 280px;
    border: 1.5px rgb(200,200,200) solid;
    background-color: rgba(255,255,255,0.8);
    position: relative;
    margin: 1vw 3vw 1vw 3vw ;
}

main section ul li .box__item_img {
    width: 100%;
    max-height: 21vw;
    min-height: 210px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

main section ul li .item_img {
    width: 100%;
}

main section ul li p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    line-height: 30px;
}

main section ul li p span {
    color: rgb(100,100,100);
    font-size: 90%;
}

.put_in_btn {
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color: rgba(255,255,255,0.8);
    width: 30px;
    height: 30px;
    border: 1px darkgray solid;
}

.put_in_btn:hover, .put_in_btn:focus {
    box-shadow: 0.5px 0.5px rgb(50,50,50);
    
}

.put_in_btn:active {
    width: 35px;
    height: 35px;
    transform: scale(1,1);
}

.put_in_btn img {
    width: 100%;
    height: 100%;
}