#form_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
}

#form_box fieldset {
    padding-left: 110px;
    width: 80vw;
    position: absolute;
}

.box__fieldset {
    min-width: 200px;
    height: 400px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.active_fieldset {
    z-index: 2;
}

.box__fieldset div {
    width: auto;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
}

.box__fieldset legend {
    text-decoration: underline;
    text-decoration-color: var(--logo_color);
    z-index: 1;
}

#legend_1 {
    position: absolute;
    top: 0px;
    left: -100px;
    min-width: 100px;
    line-height: 40px;
    text-align: center;
}

#legend_2 {
    position: absolute;
    top: 40px;
    left: -100px;
    min-width: 100px;
    line-height: 40px;
    text-align: center;
}

#legend_3 {
    position: absolute;
    top: 80px;
    left: -100px;
    min-width: 100px;
    line-height: 40px;
    text-align: center;
}

#legend_4 {
    position: absolute;
    top: 120px;
    left: -100px;
    min-width: 100px;
    line-height: 40px;
    text-align: center;
}

.box__fieldset div p {
    padding: 4px;
    display: flex;
    flex-direction: row;
    width: 250px;
    align-items: center;
}

.box__fieldset div p label {
    text-align: center;
    padding-right: 10px;
    width: 90px;
}

.box__fieldset div p input {
    background-color: white;
    border: none;
    width: 150px;
    height: 20px;
    border: 1px black solid;
    border-radius: 2px;
    text-align: center;
}

.box__fieldset div ul {
    width: 280px;
    display: inline-flex;
    justify-content: space-around;
}

.check_right {
    padding-left : 30px;
    align-self: flex-start;
    font-size: 0.9rem;
}

.box__fieldset div a {
    align-self: flex-end;
    color: darkgray;
    font-size: 0.9rem;
}

button {
    margin: 15px;
    width: 120px;
    height: 25px;
    background-color: red;
    color: white;
    border-radius: 5px;
    display: block;
}

#verification_background {
    width: 100%;
    height: 100%;
    background-color: rgba(255,150,150,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

#verification_box {
    width: 60vw;
    height: 60vw;
    background-color: rgb(255,150,150);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.unactive_verification {
    display: none !important;
}


@media (orientation: portrait) {
    #form_box fieldset {
        padding-left: 0px;
        margin-top: 8vh;
    }

    .box__fieldset {
        min-width: auto;
        width: 100vw;
        height: 400px;
        padding: 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(45deg, var(--logo_color), white 15%, white 85%, var(--logo_color));
    }

    #legend_1 {
        position: absolute;
        top: -40px;
        left: -10px;
    }

    #legend_2 {
        position: absolute;
        top: -40px;
        left: 60px;
    }

    #legend_3 {
        position: absolute;
        top: -40px;
        left: 130px;
    }

    #legend_4 {
        position: absolute;
        top: -40px;
        left: 200px;
    }

    #verification_box {
        width: 70vw;
        height: 70vw;
    }




main {
    min-height: 500px;
}