main div {
    width:70%;
    min-width: 300px;
    height: 400px;
    padding: 20px;
    position: relative;
    margin: 0vw 15vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main table {
    width: 100%;
    margin: auto;
    table-layout: fixed;
    letter-spacing: 1px;
    text-align: center;
}

main table caption {
    position: absolute;
    top: 0px;
    left: -100px;
    min-width: 100px;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--logo_color);
}


main table tr {
    line-height: 50px;
    font-weight: lighter;
}


main table tr th {

    font-weight: normal;
}

main table tr td {
    font-weight: bold;
    font-size: 150%;
    text-align: left;
}



@media (orientation: portrait) {

    main table caption {
        top: -40px;
        left: 0px;
    }

    main div {
        margin: 50px auto 0vh auto;
    }

}